{% extends 'nav_auth/extentions.html' %}
{% load static %}
{% block content %}

<title>trasfer</title>

<body>
    
    <div>
        
        {% include 'nav_auth/links2.html' %}

        <section class="col-md-12" id="dashboad_section2">
            <div class="col-md-12">

                {% if receive %}

                <div class="col-md-12 content">
                    <div class="text-center">
                        <span>
                            {{ amount_number }}
                        </span>
                        <h4>
                            account not found try again
                        </h4>
                    </div>
                </div>
                
                {% else %}
                
                <div class="col-md-12 content">
                    <div>
                        <h4>
                            Receiver:
                        </h4>
                        <span>
                            {{ receiver.first_name }} {{ receiver.last_name }}
                        </span>
                    </div>
                    <div>
                        <h4>
                            Bank:
                        </h4>
                        <span>
                            {{ receiver.bank }}
                        </span>
                    </div>
                    <div>
                        <h4>
                            ACCOUNT NUMBER:
                        </h4>
                        <span>
                            {{ receiver.account_number }}
                        </span>
                    </div>
                    <div>
                        <h4>
                            AMOUNT:
                        </h4>
                        <span>
                            {{ amount }}
                        </span>
                    </div>
                    <h4>otp {{otp}} </h4>
                </div>

                <div class="col-md-12 content">
                    <div>
                        <h2>
                            Transfer
                        </h2>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            
                            <input type="text" 
                                value="{{ receiver.user.first_name }} {{ receiver.user.last_name }}" 
                                name="receiver" hidden
                            >
                            <input type="text" 
                                value="{{ request.user.first_name }} {{ request.user.last_name }}" 
                                name="sender" hidden
                            >
                            <input type="text" value="{{ receiver.bank }}" name="bank" hidden>
                            <input type="text" value="{{ receiver.account_number }}" name="account_number" hidden>
                            <input type="number" value="{{ amount }}" name="amount" hidden>
                            
                        </div>
                        
                        <div>
                            <h4>
                                pin:
                            </h4>
                            {{account}}
                            <input type="number" class="form-control" placeholder="Enter Your Pin" name="pin">
                        </div>
                        <div class="proceed">
                            <button>proceed</button>
                        </div>
                    </form>
                </div>

                {% endif %}
            </div>
        </section>
    </div>
</body>

{% endblock %}
