{% extends 'nav_auth/extentions.html' %}
{% load static %}
{% block content %}

<title>view user</title>

<style>
    .slip
    {
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    .slip_content
    {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
</style>

<body>
    
    <div>
        {% include 'nav_auth/links.html' %}

        <section class="col-md-12" id="dashboad_section2">

            <div class="slip">
                <div class="col-md-10 slip_body">
                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(1, 1, 92); width: 100%; position: relative;"
                    >
                        <h3 class="text-center text-light">User</h3>
                    </div>

                        <div class="col-md-12 border-bottom"
                            style="padding: 10px;position: relative;background: linear-gradient(to right, rgb(219, 219, 219), rgb(165, 165, 165));"
                        >
                            <div class="col-md-12 slip_content">

                                <div class="col-md-6 bg-light">
                                    <div>
                                        <h2 class="text-success">
                                            {{user.currency}}
                                        </h2>
                                    </div>
                                    <div>
                                        <h4>
                                            balance
                                        </h4>
                                    </div>
                                    <div>
                                        <h1 class="text-success">
                                            {{user.balance}}
                                        </h1>
                                    </div>
                                </div>

                                <div class="col-md-5 bg-light">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div>
                                            <h4>
                                                edit balance:
                                            </h4>
                                            <input type="number" class="form-control" placeholder="Enter Balance" name="balance" value="0">
                                        </div>
                
                                        <div class="proceed">
                                            <button>done</button>
                                        </div>
                                    </form>

                                    <div class="col-md-12">
                                        <div class="proceed">
                                            <a href="{% url 'block_user' user.id %}">
                                                {% if user.block %}
                                                    unblock user
                                                {% else %}
                                                    block user
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="proceed">
                                            <a href="{% url 'delete_user' user.id %}">delete user</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        user name:
                                    </h4>
                                    <h4>
                                        {{ user.first_name }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        first name:
                                    </h4>
                                    <h4>
                                        {{ user.first_name }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        last name:
                                    </h4>
                                    <h4>
                                        {{ user.last_name }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <div>
                                        <h4>Last Login</h4>
                                    </div>
                                    <div>
                                        <h4>{{user.last_login}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <div>
                                        <h4>Account Number</h4>
                                    </div>
                                    <div>
                                        <h4>{{user.account_number}}</h4>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                       currency:
                                    </h4>
                                    <h4>
                                        {{ user.currency }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        bank:
                                    </h4>
                                    <h4>
                                        {{ user.bank }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        account type:
                                    </h4>
                                    <h4>
                                        {{ user.account_type }}
                                    </h4>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <div>
                                        <h4>country</h4>
                                    </div>
                                    <div>
                                        <h4>{{user.country}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <div>
                                        <h4>address</h4>
                                    </div>
                                    <div>
                                        <h4>{{user.address}}</h4>
                                    </div>
                                </div>
                                <div class="col-md-12 slip_content">
                                    <h4>
                                        date joined:
                                    </h4>
                                    <h4>
                                        {{ user.date_joined }}
                                    </h4>
                                </div>
                            </div>

                        </div>
                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(0, 0, 0); width: 100%; position: relative;"
                    >
                        <p class="text-center text-light">Payment Slip</p>
                        <p class="text-center text-light">Broght To By Site Name</p>
                        <p class="text-center text-light">Thanks For Pertnership</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{% endblock %}

