<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name">
            <input type="text" name="message" placeholder="message">
            <input type="email" name="email" placeholder="email">
            <button>send email</button>
        </form>
    </div>
</body>
</html>