<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        <form action="" method="post">

            {% csrf_token %}
            <div>
                <input type="number" placeholder="pin" name="pin">
            </div>
            <button>done  </button>
        </form>
    </div>
</body>
</html>