<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div>
                <input type="number" placeholder="account number" name="account">
            </div>
            <div>
                <input type="number" placeholder="amount" name="amount">
            </div>
            <div>
                <button>send</button>
            </div>
        </form>

        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>