
{% extends 'nav_auth/extentions.html' %}
{% load static %}
{% block content %}

<title>dashboad</title>

<style>
    .slip
    {
        padding: 10px; 
        display: flex;
        justify-content: space-around;
    }
    .slip_content
    {
        /* display: flex;
        justify-content: space-between; */
        padding: 10px;
    }
    .hovers.hover
    {
        background-color: rgb(17, 17, 17);
    }

    @media only screen and (max-width: 1108px){
        #slip
        {
            width: 100%;
        }
        .slip, .slip_body
        {
            width: 100%;
        }
    }

</style>

<body>
    
    <div>

        {% if request.user.is_superuser %}
        {% include 'nav_auth/links.html' %}

        <section class="col-md-12" id="dashboad_section2">

            {% include 'nav_auth/welcome.html' %}

            {% for message in messages %}
            <div class="col-md-12 p-3">
                <div class="text-center">
                    <h3>{{message}}</h3>
                </div>
            </div>
            {% endfor %}

            <div class="slip">
                <div class="col-md-10" id="slip">
                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(1, 1, 92); width: 100%; position: relative;"
                    >
                        <h3 class="text-center text-light">All Transactions</h3>
                    </div>

                        <div class="col-md-12 border-bottom"
                            style="padding: 10px;position: relative;background: linear-gradient(to right, rgb(219, 219, 219), rgb(165, 165, 165));"
                        >

                            <div class="col-md-12">

                                <div>

                                {% if all_history %}

                                {% for history in all_history %}
                                <div>

                                    <a href="{% url 'history' history.id %}">
                                        <div class="history">
                                            <small>
                                                sender: {{ history.sender}}
                                            </small>
                                            <br>
                                            <small>
                                                receiver: {{ history.receiver}}
                                            </small>
                                            <br>
                                            <small class="text-success">
                                                amount: {{history.amount}}
                                            </small>
                                            <br>
                                            <small>
                                                otp: {{history.otp}}
                                            </small>
                                            <br>
                                            <small>
                                                reffrence code: {{history.reffrence_code}}
                                            </small>
                                            <br>
                                            <small>
                                                status: {{history.status}}
                                            </small>
                                            <br>
                                            <small>
                                                Date: {{history.time_stamp}}
                                            </small>
                                        </div>
                                    </a>

                                </div>
                                {% endfor %}

                                {% else %}

                                <div class="p-3">
                                    <div class="text-center">
                                        <h3>No Transaction made</h3>
                                    </div>
                                </div>

                                {% endif %}
                            </div>

                        </div>

                    </div>

                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(0, 0, 0); width: 100%; position: relative;"
                    >
                        <p class="text-center text-light">Payment Slip</p>
                        <p class="text-center text-light">Broght To By Site Name</p>
                        <p class="text-center text-light">Thanks For Pertnership</p>
                    </div>
                </div>
            </div>
        </section>
        {% else %}

        {% include 'nav_auth/links2.html' %}

        <section class="col-md-12" id="dashboad_section2">

            {% include 'nav_auth/welcome.html' %}

            {% for message in messages %}
            <div class="col-md-12 p-3">
                <div class="text-center">
                    <h3>{{message}}</h3>
                </div>
            </div>
            {% endfor %}

            <div class="slip">
                <div class="col-md-10 slip_body">
                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(1, 1, 92); width: 100%; position: relative;"
                    >
                        <h3 class="text-center text-light">User Dashboad</h3>
                    </div>

                        <div class="col-md-12 border-bottom"
                            style="padding: 10px;position: relative;background: linear-gradient(to right, rgb(219, 219, 219), rgb(165, 165, 165));"
                        >
                            <div class="col-md-12 slip_content">

                                <div class="col-md-4 p-3">
                                    
                                    <div class="bg-light p-3" style="box-shadow: 0 2px 5px rgb(92, 91, 91);">

                                        <div>
                                            <h2 class="text-success">
                                                {{user.currency}}
                                            </h2>
                                        </div>
                                        <div>
                                            <h4>
                                                balance
                                            </h4>
                                        </div>
                                        <div>
                                            <h1 class="text-success">
                                                {{user.balance}}
                                            </h1>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-4 p-3">

                                    <div class="bg-light p-3" style="box-shadow: 0 2px 5px rgb(92, 91, 91);">

                                        <div>
                                            <h2>
                                                View Profile
                                            </h2>
                                        </div>
                                        <div>
                                            <small>
                                                User
                                            </small>
                                            <h4>
                                                {{ user.first_name }} {{ user.last_name }}
                                            </h4>
                                        </div>
                                        <div class="proceed">
                                            <a href="{% url 'view_profile' %}">
                                                proceed
                                            </a>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-md-4 p-3">

                                    <div class="bg-light p-3" style="box-shadow: 0 2px 5px rgb(92, 91, 91);">

                                        <div>
                                            <h2>
                                                Transfer
                                            </h2>
                                        </div>
                                        <div>
                                            <h4>
                                                transfer from balance
                                            </h4>
                                            <small class="text-success">
                                                <span>{{user.currency}}</span> {{user.balance}}
                                            </small>
                                        </div>
                                        <div class="proceed">
                                            <a href="{% url 'transfer' %}">
                                                proceed
                                            </a>
                                        </div>

                                    </div>

                                </div>
                                
                            </div>

                            <div class="col-md-12">

                                <div>

                                    <div class="bg-warning p-3">
                                        <h2>
                                            Transactions History
                                        </h2>
                                    </div>

                                    <div>

                                    {% if sender_history or receiver_history %}

                                    {% for history in sender_history %}
                                    <div>
                                        <a href="{% url 'history' history.id %}">
                                            <div class="history">
                                                <small>
                                                    {{ history.sender}}
                                                </small>
                                                <br>
                                                <small class="text-danger">
                                                    -$ {{history.amount}}
                                                </small>
                                                <br>
                                                <small>
                                                    To: {{ history.receiver}}
                                                </small>
                                                <br>
                                                <small>
                                                    Date: {{history.time_stamp}}
                                                </small>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}

                                    {% for history in receiver_history %}
                                    <div>
                                        <a href="{% url 'history' history.id %}">
                                            <div class="history">
                                                <small>
                                                    {{ history.sender}}
                                                </small>
                                                <br>
                                                <small class="text-success">
                                                    +$ {{history.amount}}
                                                </small>
                                                <br>
                                                <small>
                                                    To: {{ history.receiver}}
                                                </small>
                                                <br>
                                                <small>
                                                    Date: {{history.time_stamp}}
                                                </small>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                        
                                    {% else %}
                                        <div class="p-3">
                                            <div class="text-center">
                                                <h3>No Transaction made</h3>
                                            </div>
                                        </div>
                                    {% endif %}

                                    </div>
                                </div>

                            </div>

                        </div>
                    <div class="col-md-12 text-center p-3"  
                        style="background-color: rgb(0, 0, 0); width: 100%; position: relative;"
                    >
                        <p class="text-center text-light">Payment Slip</p>
                        <p class="text-center text-light">Broght To By Site Name</p>
                        <p class="text-center text-light">Thanks For Pertnership</p>
                    </div>
                </div>
            </div>
        </section>

        {% endif %}
    </div>
</body>

{% endblock %}