
<section class="col-md-12" id="dashboad_section1">
    <div class="menu">
        <div>
            <h3>site name</h3>
        </div>
        <div class="menu_links">
            <ul>
                <li>
                    <a href="dashboard.html">
                        <i class="fa fa-home"></i>
                        <small>home</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'login' %}" {% if '/login/' == request.path %} class="active" {% endif %}>
                        <i class="fa fa-key"></i>
                        <small>login</small>
                    </a>
                </li>
                <li>
                    <a href="{% url 'password_reset' %}">
                        <i class="fa fa-key"></i>
                        <small>reset password</small>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-adn"></i>
                        <small>FAQ</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>