{% extends 'nav_auth/extentions.html' %}
{% load static %}
{% block content %}

<title>login</title>

<body>
    
    <div>

        <section class="col-md-12" id="dashboad_section2">
            <div class="col-md-12" style="display: flex; justify-content: space-around;">
                <div class="col-md-6 content">
                    <div>
                        <h2>
                            Password Reset Complete
                        </h2>
                    </div>
                    <div>
                        <p>
                            Your password has been set. You may go ahead and log in now
                        </p>
                    </div>
                    <div class="proceed">
                        <a href="{% url 'login' %}">login</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{% endblock %}