{% extends 'nav_auth/extentions.html' %}
{% load static %}
{% block content %}

<title>login</title>

<body>
    
    <div>
        {% include 'nav_auth/links3.html' %}

        <section class="col-md-12" id="dashboad_section2">
            <div class="col-md-12" style="display: flex; justify-content: space-around;">
                <div class="col-md-6 content">
                    <div>
                        <h2>
                            Password reset sent
                        </h2>
                    </div>
                    <div>
                        <p>
                            We’ve emailed you instructions for setting your password, if an account 
                            exists with the email you entered. You should receive them shortly.
                        </p>
                        <p>
                            If you don’t receive an email, please make sure you’ve entered 
                            the address you registered with, and check your spam folder.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

{% endblock %}